[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=LliureX Help
GenericName=LliureX Help
Comment=Desktop help system for LliureX
Comment[es]=Ayuda de escritorio para LliureX
Comment[ca@valencia]=Ajuda d'escriptori per a LliureX
Comment[ca_ES.UTF-8@valencia]=Ajuda d'escriptori per a LliureX
Comment[ca_ES@valencia]=Ajuda d'escriptori per a LliureX
Exec=lliurex-help
Terminal=false
StartupNotify=false
Categories=GNOME;GTK;Core;Documentation;Utility;Education
Icon=lliurex-help
TryExec=/usr/bin/lliurex-help
