Package: lliurex-help
Version: 0.1
Architecture: all
Maintainer: LliureX Team <lliurex@lliurex.net>
Installed-Size: 11288
Depends: nwjs0.21
Section: misc
Priority: optional
Homepage: https://github.com/lliurex/lliurex-help
Description: LliureX Help
 A desktop help system for LliureX.
