@font-face{
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-Regular.ttf);
}


html,body,.container {
    height:100%;
    padding: 0px;
    margin:0px;
    overflow: hidden;
    font-family: "Noto Sans";
    color: #212121
}

#localHelp {
    height:100%;
    width:100%;
    padding: 0px;
    margin:0px;
    overflow: hidden;
    display: none;
}

#loadWindow{
    height:100%;
    width:100%;
    padding: 0px;
    margin:0px;
    overflow: hidden;
    background: #eeeeee;
}


.header{
    background: #FFA000;
    color: #212121;
    height: 50px;
    
}
.container{
    /*background-color: #ffff00;*/
    height:100%;
    /*padding: 0px;
    margin:0px;*/
}

.row{
    /*padding: 0px;
    margin:0px;*/
    height: 100%;
}

#sections{
    background-color: #FFC107;
    color: #ffffff;
    /*font-weight: bold;*/
    border-right: 1px solid #BDBDBD;
    overflow-y: auto;
    /*font-size: 0.9em;*/
    padding-top:100px;
    padding-bottom:20px;
    /*height: 100%;
    padding-left: 0px;
    margin:0px;*/

}

#content{
    background-color: #ffffff; 
    overflow-y: auto;
    padding: 20px;
    /*height: 100%;
    padding: 0px;
    margin:0px;*/
}


.mdDoc, .link{
    color: #ffffff;
}


.mdDoc:hover, .link:hover{
    cursor:pointer;
    color: #757575;
}

/*li:hover{
    cursor: pointer;
    color: #ff0000;
}*/